<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <title>make</title>
</head>
<body>
    캐릭터 생성하는 페이지
    <br>
    버튼 2개 -> 캐릭터가 맘에 드신가요?
    <div class="example">
        <img src="" alt="" />
    </div>
    <div class="route">
        <!-- 삭제시 재요청 -->
        <button>삭제하고 재요청</button>
        <!-- chatbot 실행 -->
        <button>진행</button>
    </div>
    <script>
        const img = document.querySelector('.example > img')
        $(window).on('load', function () {
            // default 이미지 삽입
            $.ajax({
                url: "{{ url_for('get_img') }}",
                type: "GET",
                success: function(data) {
                    img.src = data['url']
                    img.width = 500;
                    img.height = 500;
                },
                error: function(xhr) {
                    console.log("Error:", xhr.responseText);
                    window.location.assign("{{ url_for('input') }}")
                }
            });
        });
    </script>
</body>
</html>