<!DOCTYPE html>
<html lang="en">
<head>
    <title>make</title>
    <style>
        .center-div {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .contents {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
    {% include 'public/header.html'%}

    <section id="hero" class="d-flex align-items-center" style="height: 100vh;">
        <div class="container">
            <div class="contents">
                <h1 style="display:block; margin: 30px; padding:30px;">캐릭터가 맘에 드신가요?</h1>
                <div class="stable">
                    <img src="" alt="" width="312vw" height="312vh"/>
                </div>
                <div class="center-div">
                    <!-- <button class="btn-get-started scrollto" style="margin: 10px; border:0px">재요청</button> -->
                    <a href="{{url_for('input')}}" class="btn-get-started scrollto" style="margin: 10px;">재요청</a>
                    <a href="{{url_for('chatbot')}}" class="btn-get-started scrollto" style="margin: 10px;">진행</a>
                </div>
            </div>
          </div>
      </section>

    {% include 'public/footer.html'%}
    <script>
        /**const img = document.querySelector('.stable > img')
        $(window).on('load', function () {
            // default 이미지 삽입
            $.ajax({
                url: "{{ url_for('get_img') }}",
                type: "GET",
                success: function(data) {
                    img.src = data['url']
                    img.width = 500;
                    img.height = 500;
                },
                error: function(xhr) {
                    console.log("Error:", xhr.responseText);
                    //window.location.assign("{{ url_for('input') }}")
                }
            });
        });**/
    </script>
</body>
</html>