<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    홈 페이지
    <div class="route">
        <a href="{{url_for('input')}}"><button>캐릭터 생성하기</button></a>
        <a href="{{url_for('admin')}}"><button>관리자 페이지 이동하기</button></a>
    </div>
    <style>
        /* CSS 코드를 여기에 작성합니다 */
        body {
            font-family: Arial, sans-serif;
        }
        
        .route {
            margin-top: 20px;
        }
        
        .route a {
            text-decoration: none;
        }
        
        .route button {
            display: block;
            margin-bottom: 10px;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }
    </style>
</body>
</html>