<!DOCTYPE html>
<html lang="en">
  <body style="height: 100%;">
  {% include 'public/header.html'%}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center" style="height: 100vh;">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 style="margin-left: 10px;">PICA</h1>
          <h2 style="margin-left: 10px;">MZ 1인가구를 위한 감정대화 서비스</h2>
          <div class="d-flex">
            <a href="{{url_for('input')}}" class="btn-get-started scrollto" style="margin: 10px; text-align:center;">캐릭터 생성</a>
            <a href="{{url_for('admin')}}" class="btn-get-started scrollto" style="margin: 10px; text-align:center;">관리자 페이지로 이동</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="static/assets/img/pica_img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
  </section><!-- End Hero -->
  {% include 'public/footer.html'%}
</body>

</html>